<div class="popup" style="margin-top: .5em;">
  <%- include('../partials/_flashMsg') %>
</div>

<!--Student Login Form -->
<div class="form-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
        <div class="form-container">
          <form
            action="/studentLoginCheck"
            method="POST"
            class="form-horizontal"
          >
            <h3>Student Login</h3>

            <div class="form-group">
              <input
                class="form-control"
                name="name"
                type="text"
                placeholder="Enter your Username"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                name="password"
                type="password"
                placeholder="Enter your Password"
                required
              />
            </div>
            <button class="btn signin">Login</button>
            <span class="signup">or <a href="/signupStudent">Sign up</a></span>
            <span class="forgot"><a href="/">Go Back to Login As page</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Student Login Form -->